section.Contacto-home
	div.u-centrar
		h3.Contacto-homeTitle
			|	SABEMOS QUE LA TECNOLOGÍA TE APASIONA
		p.Contacto-homeTxt
			|	por eso te invitamos a suscribirte a nuestras noticias para mantenerte informado
		form.Contacto-homeForm
			input.Contacto-homeInput(type="text", placeholder="escribe tu correo aquí...")
			input.Contacto-homeBtn(type="submit", value="ENVIAR")