/*FOOTER*/

.Footer
	display inline-block
	width 100%
	color $white
	
	&-izq
	&-der
		display inline-block
		width 50%
		float left
		
	&-izq
		background $black2
		
	&-der
		background $black4
		
	&-menu1
		display inline-block
		text-align left
		
	&-title
		display inline-block
		color $white
		font-weight 900
		font-size 1.5em
		width 260px
		padding 10px 8px
		border-bottom 5px solid $dark_gray
		margin 0 0 22px
		text-align left