footer.Footer
	div.Footer-izq
		div.u-centrarIzq
			div.Footer-menu1
				h4.Footer-title
					|	NOSOTROS
				ul.Footer-menu
					li.Footer-item
						a.Footer-link
							|	HISTORIA
					li.Footer-item
						a.Footer-link
							|	SED EN COLOMBIA
					li.Footer-item
						a.Footer-link
							|	MISIÓN - VISIÓN - VALORES
					li.Footer-item
						a.Footer-link
							|	DIRECTORIO
					li.Footer-item
						a.Footer-link
							|	FACT SHEET
			div.Footer-menu2
				h4.Footer-title
					|	LEGAL
				ul.Footer-menu
					li.Footer-item
						a.Footer-link
							|	TÉRMINOS Y CONDICIONES
					li.Footer-item
						a.Footer-link
							|	POLÍTICA DE PRIVACIDAD
				h4.Footer-title
					|	ZONA DE EMPLEADOS
				h4.Footer-title
					|	NOTICIAS
			div.Footer-copy
				h5.Footer-copyText
					|	 Todos los derechos reservados SED 2016. Desarrollo de página web por
					a.Footer-copyLink(href="http://www.paxzu.co/", target="_blank")
						|	PAXZU

	div.Footer-der
		div.u-centrarDer
			div.Footer-contacto
				a.Footer-contactBtn
					|	CONTÁCTANOS AQUÍ
				a.Footer-garantia
					|	VER POLÍTICAS DE GARANTÍA
				div.Footer-datos
					|	Carrera 1 No. 4 - 02 Int. 15 - 16
					br
					|	Parque Industrial K2 - Variante Chía, Colombia.
					br
					span.Footer-datBold
						|	PBX. (571) 861 4000 - 884 4141
				div.Footer-redes
					a.Footer-red
						img(src='../images/01-home/fb.png')
					a.Footer-red
						img(src='../images/01-home/tw.png')
					a.Footer-red
						img(src='../images/01-home/in.png')
					a.Footer-red
						img(src='../images/01-home/yt.png')
					a.Footer-red
						img(src='../images/01-home/app.png')