section.Banner
	div.Banner-item
		img.Banner-img(src="../images/01-home/banner.jpg")
		div.u-centrar
			div.Banner-info
				div.Banner-infoUno
					h4.Banner-title
						|	Nueva HP ULTRA INK ADVANTAGE 2529
					img.Banner-infoimg(src="../images/01-home/logo-hp.png")
				div.Banner-infoDos
					h5.Banner-title
						|	Con la Nueva HP ULTRA INK ADVANTAGE 2526
					p.Banner-txt
						|	imprima y copie miles de páginas a excelente calidad y muy bajo costo.
	div.Banner-item
		img.Banner-img(src="http://lorempixel.com/1920/483/technics")
	div.Banner-item
		img.Banner-img(src="http://lorempixel.com/1920/483/technics")