header.Header
	div.u-centrar
		a.Header-logoLink(href="#")
			h1.Header-logo
				|	SED
		div.Header-right
			nav.Header-menu
				ul.Header-list
					li.Header-item
						a.Header-link
							|	POTAFOLIO
					li.Header-item
						a.Header-link
							|	MERCADEO
					li.Header-item
						a.Header-link
							|	CONTÁCTENOS
			div.Header-redes
				a.Header-red(href="#")
					|	Fb
				a.Header-red(href="#")
					|	Tw
				a.Header-red(href="#")
					|	in
				a.Header-red(href="#")
					|	yt
			div.Header-ingreso
				a.Header-log
					|	LOGOUT
				div
					span
						|	INGRESO A CLIENTES
					form
						input(type="text", placeholder="Usuario")
						input(type="password", placeholder="Contraseña")
						a
							|	Enviar
						a
							|	¿Olvidaste tu contraseña?
						a
							|	Solicita tu registro aquí
			//- hacer el cuadro de usuario