header.Header
	div.u-centrar
		a.Header-logoLink(href="index.html")
			h1.Header-logo
				|	SED
		div.Header-right
			nav.Header-menu
				ul.Header-list
					li.Header-item
						a.Header-link
							|	POTAFOLIO
					li.Header-item
						a.Header-link
							|	MERCADEO
					li.Header-item
						a.Header-link
							|	CONTÁCTENOS
			div.Header-redes
				a.Header-red(href="#")
					img(src='../images/01-home/fb.png')
				a.Header-red(href="#")
					img(src='../images/01-home/tw.png')
				a.Header-red(href="#")
					img(src='../images/01-home/in.png')
				a.Header-red(href="#")
					img(src='../images/01-home/yt.png')
			div.Header-ingreso
				a.Header-log
					|	LOGOUT
				div.Header-login
					span.Header-logTitle
						|	INGRESO A CLIENTES
					form.Header-logForm
						input.Header-input(type="text", placeholder="Usuario")
						input.Header-input(type="password", placeholder="Contraseña")
						a.Header-logBtn
							|	ENVIAR
						a.Header-logLightBtn
							|	¿Olvidaste tu contraseña?
						a.Header-logLightBtn
							|	Solicita tu registro aquí
			//- hacer el cuadro de usuario