/*MARCAS*/

.Marcas
	display inline-block
	width 100%
	
	&-title
		font-weight 900
		font-size 2.37em
		color $black
		margin 40px 0 20px
		
	&-list
		display inline-block
		width 100%
		margin 65px 0 95px
		
	&-item
		display inline-block
		width 200px
		height 108px
		margin 14px