section.Marcas
	h3.Marcas-title
		|	NUESTRAS MARCAS
	div.Marcas-list
		div.Marcas-item
			img(src="../images/marcas/adata.png")
		div.Marcas-item
			img(src="../images/marcas/amd.png")
		div.Marcas-item
			img(src="../images/marcas/apc.png")
		div.Marcas-item
			img(src="../images/marcas/asus.png")
		div.Marcas-item
			img(src="../images/marcas/dell.png")
		div.Marcas-item
			img(src="../images/marcas/epson.png")
		div.Marcas-item
			img(src="../images/marcas/hp.png")
		div.Marcas-item
			img(src="../images/marcas/hp-enterprice.png")
		div.Marcas-item
			img(src="../images/marcas/intel.png")
		div.Marcas-item
			img(src="../images/marcas/lenovo.png")
		div.Marcas-item
			img(src="../images/marcas/microsoft.png")
		div.Marcas-item
			img(src="../images/marcas/oki.png")
		div.Marcas-item
			img(src="../images/marcas/samsung.png")
		div.Marcas-item
			img(src="../images/marcas/sony.png")
		div.Marcas-item
			img(src="../images/marcas/quality_price.png")
		div.Marcas-item
			img(src="../images/marcas/lg.png")