@import "nib"
@import "normalize.styl"

@import url('https://fonts.googleapis.com/css?family=Yantramanav:400,700,500,300,100,900')

$white = #FFF

$black = #000
$black2 = #2D2D2D
$black3 = #070707
$black4 = #262626

$gray = #828282
$light_gray = #CCCCCC
$light_gray2 = #C9C9C9
$light_gray3 = #BCBCBC
$light_gray4 = #DDDDDD
$dark_gray = #444444

$red = #9E0017
$dark_red = #7A0017

html
	font-size 16px
	font-family 'Yantramanav', sans-serif;
	height 100%

body	
	height 100%
	background red
	
img
	max-width 100%
	max-height 100%

a
	text-decoration none
	
.u-centrar
	margin 0 auto
	max-width 1400px
	text-align center
	// display inline-block
	// width 100%
		
.u-centrarIzq
	max-width 700px
	text-align center
	display inline-block	
	float right
.u-centrarDer
	max-width 700px
	text-align center
	display inline-block	
	float left

/*HEADER*/
@import "../components/Header/estilos.styl"

/*FOOTER*/
@import "../components/Footer/estilos.styl"